<details><summary>More information</summary>

- **Id**: `{{ uuid }}`
- **Model**: `{{ model_name }}`
- **Created at**: `{{ created_at }}`


<details><summary>Usage summary</summary>

- **Request count**: `{{ usage.requests }}`
- **Request tokens**: `{{ '{:,}'.format(usage.input_tokens) }}`
- **Response tokens**: `{{ '{:,}'.format(usage.output_tokens) }}`
- **Total tokens**: `{{ '{:,}'.format(usage.total_tokens) }}`

</details>

{% if config %}

<details><summary>Configuration</summary>

{% for key, value in config.items() %}
- **{{ key }}**: `{{ value | safe }}`
{% endfor %}

</details>
{% endif %}

> See the [📚 lgtm-ai repository](https://github.com/elementsinteractive/lgtm-ai) for more information about lgtm.

</details>

